<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pivotal Search</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://apps.bdimg.com/libs/html5shiv/r29/html5.min.js"></script>
    <![endif]-->
    <!-- styles -->
    <link href="/stylesheets/test.css" rel="stylesheet">
 
</head>
<body>
       <h1><%=message %></h1>
       <p><%=error.status %></p>
       <h2><%=error.stack %></h2>
</body>
</html>